<template name="layout">
  {{#ionBody}}
    {{> ionNavBar class="bar-positive"}}
    {{#ionNavView}}

      {{> yield}}
    {{/ionNavView}}
  {{/ionBody}}

{{#if currentUser}}
  {{#ionTabs class="tabs-positive tabs-icon-top"}}
    {{> ionTab title="Home" path="welcome" iconOff="ios-home" iconOn="ios-home"}}
    {{> ionTab title="Routines" path="Routines" iconOff="android-bicycle" iconOn="android-bicycle"}}
    {{> ionTab title="Profile" path="profile" iconOff="person" iconOn="person"}}
    {{> ionTab title="Analytics" path="chart" iconOff="stats-bars" iconOn="stats-bars"}}
    {{> ionTab title="Voice" path="profile" iconOff="mic-a" iconOn="mic-a"}}
  {{/ionTabs}}
{{/if}}
</template>

