/*WORKING NOW */

/*Strength Links and Image Placement*/
#imageOne {
  position: absolute;
  left: 100;
  top: 100;
}

#textOne {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 100px;
  top: 250px;
}

#imageTwo {
  position: absolute;
  left: 300px;
  top: 100;
}


#textTwo {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 400px;
  top: 250px;
}

#imageThree {
  position: absolute;
  left: 600px;
  top: 100;
}

#textThree {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 700px;
  top: 250px;
}


#imageFour {
  position: absolute;
  left: 900px;
  top: 100;
}

#textFour {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 1000px;
  top: 250px;
}







/*Flexibility Links and Placement*/
#imageEleven {
  position: absolute;
  left: 0px;
  top: 800px;
}

#textEleven {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 100px;
  top: 925px;
}


#imageTwelve {
  position: absolute;
  left: 300px;
  top: 800px;
}

#textTwelve {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 390px;
  top: 925px;
}

#imageThirteen {
  position: absolute;
  left: 600px;
  top: 800px;
}

#textThirteen {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 650px;
  top: 925px;
}





