/*WORKING NOW */

#imageOne {
  position: absolute;
  left: 100;
  top: 100;
}

#textOne {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 100px;
  top: 250px;
}


#imageTwo {
  position: absolute;
  left: 300px;
  top: 100;
}

#textTwo {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 400px;
  top: 250px;
}

#imageThree {
  position: absolute;
  left: 600px;
  top: 100;
}

#textThree {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 700px;
  top: 250px;
}


#imageFour {
  position: absolute;
  left: 900px;
  top: 100;
}

#textFour {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 1000px;
  top: 250px;
}









#imageEleven {
  position: absolute;
  left: 100px;
  top: 400;
}

#textFour {
  position: absolute;
  color: white;
  font-size: 40px;
  font-weight: bold;
  left: 1000px;
  top: 550px;
}

















