.exerciselist {
	cursor: pointer;width:95px;height: 90px;position: relative;display: inline-block;margin-left:5px;
}


.first:first-letter {
	font-size: 200%;
	text-transform: uppercase;
	color: #78ADE4;
}