hr {
	width: 80%;
	height: 50px;
	background-color:#2C3539;
	color:#2C3539;
}

#beingPerformed{
	opacity: .7;
	text-align: center;
}

#exerciseName{
	padding-left: 10px;
}

#exerciseSetsAndReps{
	padding-left: 10px;
}

#exerciseWeight{
	padding-left: 10px;
}

#done {
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
}

#finish{
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
}

.beginExercise {
	margin: auto;
	left: 40%;
	width:300px;
	height:300px;
	border-radius:50%;
	font-size:50px;
	color:#fff;
	line-height:300px;
	text-align:center;
	background:#abe779
}

#pauseExercise {
	margin: auto;
	left: 40%;
	width:300px;
	height:300px;
	border-radius:50%;
	font-size:50px;
	color:#fff;
	line-height:300px;
	text-align:center;
	background:#ff0000;

}

#timer {
	margin-top: 80px;
	text-align:center;
	color: #2C3539;
	font-size:100px;
}
