#sortExercisesTabBar{
	position: relative;
	margin-top: -40px;
	margin-left:2%;
	margin-right:2%;
}

#exercisesInRoutine{
	position: relative;
	top: 100px;
	margin-left: 4.5%;
	margin-right:4.5%;
}


#listingExercises{
	position: relative;
	opacity: .7;
	margin-left:2%;
	margin-right:2%;
}


#addButton{
    left: 30%;
}

#editButton{
	left: 30%;
}

#removeButton{
	top: 40%;
	right: 4%;
}
