#wrapper { display: block; padding: 0; max-width: 960px; margin-top: 0px; }

#core { display: block; max-width: 460px; /*font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;*/  }

.profileinfo { background: #f2f2f2; width: 100%; padding: 4px 10px; /*border-left: 1px solid #b3b3b3; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3;*/ }
.profileinfo h2 { position: relative; left: -250px; }

.gear { position: relative; display: block; margin-bottom: 25px; padding-bottom: 15px; border-bottom: 1px solid #d9d9d9; }

.gear a.editlink { position: absolute; right: 0; top: 13px; }

.datainfo { margin-left: 10px; font-size: 13px; color: #333; }




