/*WORKING NOW */

/*Strength Links and Image Placement*/

#quote {
    text-align: center;
    font-family: Trebuchet MS;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#addImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border:1px solid #CCC;
}

#loginButton {
    position: absolute;
    border-radius: 20%;
    width: 200px;
    height: 50px;
    background: white;
    top: 400px;
    left: 540px;
    /* width and height can be anything, as long as they're equal */
}



#createRoutineImage{
    position: absolute;
    margin-left:8%;
    margin-top: -8%;
}

#beginImage{
    position: absolute;
    margin-left:48%;
    margin-top: -11%;

}

#progressImage{
    position: absolute;
    margin-left:4%;
    margin-top: 22%;

}

#profileLink{
    position: absolute;
    margin-left:52%;
    margin-top: 27%;
}

#line{
    background-color: #939393;
    color: #eee;
    height:1px;
}

#quoteDiv{
    opacity: .7
}

/*#background {
max-height: 100%;
max-width: 100%;
}*/

.scroll-content{
    background: url("images/back2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
