#viewMode{
	position: relative;
	top: -43px;
}

#addCompletedExercise{
	position: relative;
	top:40px;
}

#addCardio{
	position: relative;
	top:40px;
}

#inputTag{
	color: black;
	font-size: 120%;
}

#spanTag{
	color: green;
	font-size: 50%;
}

#addExerciseButton{
	top: 10px;
	left: 10px;
}

#fromDateTabBar{
	position: relative;
	margin-top: -5px;
	margin-left:2%;
	margin-right:2%;
}
/*multiple of these for different browsers*/
#inputTag::-webkit-input-placeholder,
#inputTag::-webkit-input-placeholder
{
  color:    #000000;
}

#inputTag:-moz-placeholder,
#inputTag:-moz-placeholder
{
  color:    #000000;
}

#inputTag::-moz-placeholder,
#inputTag::-moz-placeholder
{
  color:    #000000;
}

#inputTag:-ms-input-placeholder,
#inputTag:-ms-input-placeholder
{
  color:    #000000;
}


#listingExercises{
	position: relative;
	opacity: .7;
	margin-left:2%;
	margin-right:2%;
}

#allCards{
	margin-top: 135px;
}

#date{
	left: 50px;
}

#sortExercisesByDate{
	margin-left: 1%
}
