#date{
	left: 50px;
}

#addExerciseButton{
	top: 10px;
	left: 10px;
}

#inputExerciseText{
	color: red;
}

#sortExercisesByDate{
	margin-left: 1%
}

#inputSpan{
	color: white;
	font-size: 120%;
}

#fromDateTabBar{
	position: relative;
	margin-top: -40px;
	margin-left:2%;
	margin-right:2%;
}


#listingExercises{
	position: relative;
	opacity: .7;
	margin-left:2%;
	margin-right:2%;
}

#allCards{
	margin-top: 135px;
}


