.scroll-content{
 background: url("images/NewColor.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#chartcard{
	opacity: .7;
}